<header class="header header--{{ modifier }}">
  <div class="header__logo">BRAND</div>
  <div class="header__navigation">
    {{render '@navigation'}}
  </div>
  <div class="header__search">
    {{render '@search'}}
  </div>
</header>
